<h2 class="tabs">活用</h2>
<dl>
	<dt>スマホ向けに「ダウンロードURL」</dt>
	<dd>
		<p>EPUBファイル生成後の画面に、EPUBファイルの“ダウンロードURL”を任意のメールアドレスにメール送信できる機能を付けています。これを用いると、EPUBをパソコンで生成した場合に自身のスマートフォンへメールを送信して、スマートフォン上でEPUBファイルをダウンロードすることができます。なお、EPUBダウンロードには、メール送信時に設定する自分用「アイコトバ」の入力を必須としています。</p>
	</dd>
	<dt>メルマガ向けに「プリセットURL」</dt>
	<dd>
		<p>EPUBファイル生成後の画面に、生成時の設定を含んでいる“プリセットURL”が自動的に表示されます。たとえば特定のメールマガジンを毎週EPUB変換するような場合に、このプリセットURL経由でGenEPUB.comへアクセスすると、設定が再利用できて便利ですので、ぜひブックマークしておいてください。また、プリセットURLを他の方に伝えることで、EPUB変換方法の共有が簡単になります。</p>
	</dd>
	<dt>GenEPUB.com API</dt>
	<dd>
		<p>様々なウェブ、アプリ、ソフトウェアから、GenEPUB.comサービスの「テキスト変換→EPUB生成」機能をオンラインで利用できる、API (Application Program Interface) を用意しています。サイトと同様に無料でお使いいただけます。APIのご利用方法など詳細を <a href="http://remoteroom.jp/dokuwiki/%E5%AE%9F%E7%94%A8%E3%81%99%E3%81%8F%E3%82%8A%E3%81%B7%E3%81%A8%E3%82%93:genepub.com" target="_blank">作者サイト (remoteroom.jp)</a> に記載しています。みなさまのアイデアや活用をお待ちしております。</p>
	</dd>
</dl>