<TMPL_INCLUDE NAME="header.tmpl">

<ul class="tabs">
	<li><a href="#tabs1-1">これは？</a></li>
	<li><a href="#tabs1-2">EPUBを生成</a></li>
	<li><a href="#tabs1-3">活用</a></li>
</ul>
<div id="tabs1-1">
<TMPL_INCLUDE NAME="manual.tmpl">
</div>
<div id="tabs1-2">
<TMPL_INCLUDE NAME="form.tmpl">
</div>
<div id="tabs1-3">
<TMPL_INCLUDE NAME="application.tmpl">
</div>

<TMPL_INCLUDE NAME="footer.tmpl">