<h1><TMPL_VAR NAME=TITLE></h1>
<TMPL_IF NAME=AUTHOR><p class="genepub-author"><TMPL_VAR NAME=AUTHOR></p></TMPL_IF>
<TMPL_IF NAME=DESCRIPTION><p class="genepub-description"><TMPL_VAR NAME=DESCRIPTION></p></TMPL_IF>
<h2><TMPL_VAR NAME=TOC_TITLE></h2>
<ul class="genepub-toc"><TMPL_VAR NAME=TOC_BODY></ul>