<h1><TMPL_VAR NAME=TITLE></h1>
<h2>免責事項</h2>
<p>このEPUBファイルは、<a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=SITENAME_SHORT></a> (ver.<TMPL_VAR NAME=VERSION>) が自動で生成したものです。入力テキストの原文は、EPUBファイル内に original.txt として保存しています。</p>
<p>テキストの原文からEPUBを生成する際に、一部の情報が欠落または変化した可能性は無いとはいえません。テキストの内容を正確に把握するには、原文を参照することをおすすめいたします。</p>
<h2>サポートしていただくには</h2>
<ul class="genepub-list">
	<li>方法a: <a href="http://twitter.com/share?text=%40GenEPUB%20%e3%82%b3%e3%83%a1%e3%83%b3%e3%83%88%e3%82%92%e3%81%a9%e3%81%86%e3%81%9e%20%28%20http%3a%2f%2fGenEPUB%2ecom%2f%20%e3%83%86%e3%82%ad%e3%82%b9%e3%83%88%e3%81%8b%e3%82%89%e9%9b%bb%e5%ad%90%e6%9b%b8%e7%b1%8dEPUB%e3%82%92%e7%94%9f%e6%88%90%e3%81%99%e3%82%8b%e5%a4%89%e6%8f%9b%e3%82%b5%e3%83%bc%e3%83%93%e3%82%b9%20%29">ご意見・ご感想・評価をTwitterにつぶやく</a></li>
	<li>方法b: <a href="<TMPL_VAR NAME=GUMROAD_URL>"><TMPL_VAR NAME=GUMROAD_TEXT></a></li>
	<li>方法c: <a href="http://www.amazon.co.jp/?_encoding=UTF8&amp;tag=genepub-22&amp;linkCode=ur2&amp;camp=247&amp;creative=1211">このリンクを通じてAmazon.co.jpで買い物をする</a></li>
</ul>
<p><TMPL_VAR NAME=SITENAME_SHORT>をサポートしていただく方法は、上記のようにいくつかあります。サービス運営と今後の改良の励みにさせていただきますので、どうぞよろしくお願いいたします。</p>
<p class="genepub-contact">
	<TMPL_VAR NAME=DATE> 発行<br /><br />
	<TMPL_VAR NAME=SITENAME><br />
	URL: <a href="<TMPL_VAR NAME=URL>"><TMPL_VAR NAME=URL></a><br />
	Twitter: <a href="<TMPL_VAR NAME=TWITTER_URL>"><TMPL_VAR NAME=TWITTER_ACCOUNT></a>
</p>