<p class="support"><span class="support"><TMPL_VAR NAME=SITENAME_SHORT>を実際に使ってみて、もし気に入っていただけましたら、<a href="<TMPL_VAR NAME=GUMROAD_URL>" target="_blank"><TMPL_VAR NAME=GUMROAD_TEXT></a> にてサポートしていただけると嬉しいです。サービス運営と今後の改良の励みにします。</span></p>