<TMPL_INCLUDE NAME="header.tmpl">

<ul class="tabs">
	<li><a href="#tabs1-1">Status</a></li>
</ul>
<div id="tabs1-1">
	<h2 class="tabs">Status</h2>
	<p><TMPL_VAR NAME=STATUS></p>
</div>

<TMPL_INCLUDE NAME="footer.tmpl">